/* AboutUs.css */
.section-about .grid {
  gap: 6.4rem;
}

.section-about .about-div {
  text-align: center;
}

.section-about img {
  padding: 1.4rem;
  background-color: var(--supporting-color);
  width: 150px;
  height: auto;
  border-radius: 50%;
  object-fit: contain;
  object-position: center center;
  transition: all 0.3s linear;
}

.icon:hover > img {
  transform: rotate(360deg);
  background: linear-gradient(to right, #b369f0, #ffffff);
}
