/* ContactUs.css */
.section-youtube--homepage {
  width: 80%;
  min-height: 30rem;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 1.2rem;
  padding: 0 3.2rem;

  background-color: var(--bg-color);
}

.section-youtube--homepage .grid {
  align-items: center;
  gap: 6.4rem;
}

.contact-title {
  font-size: 3.8rem;
  line-height: 1.2;
}

.contact-content p {
  margin: 1.2rem 0 2.4rem 0;
}

.section-youtube--homepage a {
  color: black;
  text-transform: capitalize;
}

.section-youtube--homepage img {
  width: 80%;
  height: auto;
}

.contact-btn:hover {
  color: white;
}

.contact-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
