/* ContactUs.css */
.section-youtube--homepage {
  width: 80%;
  min-height: 30rem;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 1.2rem;
  padding: 0 3.2rem;

  background-color: var(--bg-color);
}

.section-youtube--homepage .grid {
  align-items: center;
  gap: 6.4rem;
}

.contact-title {
  font-size: 3.8rem;
  line-height: 1.2;
}

.contact-content p {
  margin: 1.2rem 0 2.4rem 0;
}

.section-youtube--homepage a {
  color: black;
  text-transform: capitalize;
}

.section-youtube--homepage img {
  width: 80%;
  height: auto;
}

.contact-btn:hover {
  color: white;
}

.contact-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* YoutubeChannel.css */
.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then modify the following CSS for the responsive iframe */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .video-container {
    padding-top: 177.77%; /* 9:16 Aspect Ratio (divide 16 by 9 = 1.7777) */
  }
}
